*{
    margin:0px;
    padding:0px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    outline:0;
}
html, body{
    font-family:Roboto, sans-serif, arial;
    font-size:14px;
    color:#242424;
    font-weight:400;
}
html{
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    font-size:10px;
    -webkit-tap-highlight-color:transparent;
}
.container{
    width: 1150px;
    margin:0px auto;
    display:table;
}
.width-50{
    width: 50%;
    float: left;
}
.width-100{
    width: 100%;
    float: left;
}

.header-top{ 
    background: #787eff;
    width: 100%;
    float : left;
}
.header-left{
    list-style:none;
    float:left;
}
header-left li{
    float:left;
    padding : 10px 0px;
    margin-right: 20px;
    list-style-type: none; /* Add this line to remove the dots */
}
.header-left li a{
    font-size:15px;
    color: #fff;
    text-decoration: none;
}
.header-right{
    float: right;
    margin-right: -210%;
}
.header-right li{
    float:right;
    padding:10px 0px;
    margin-right: 12px;
    list-style-type: none; /* Add this line to remove the dots */
}
.header-right li a{
    font-size: 16px;
    color: #fff;
    text-decoration:none;
}
.header-menu{
    width: 100%;
    float: left;
    position: relative;
    padding: 10px 0px 2px 0px;
}
.header-menu ul{
    list-style: none;
    float: left;
}
.header-menu ul li{
    float:left;
    color: black;
    margin: 20px 20px 20px 0px;
}
.header-menu ul li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
}
.logo{
    position: absolute;
    height: 130px;
    width: auto;
    top:0px;
}
.banner{
    width:100%;
    border-top:1px solid #cccfff;
}
.fa {
    color: white;
}
.menu{
float: right;
}
